*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    height: 100%;
    color: black;
}
body{
    background-color: #faf9ff;
}
/*container*/
.container{
    max-width: 85%;
    margin: auto;
}


/*navbar*/
.nav-background-color{
    background-color: white;
    height: 88.3px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
nav > div{
    text-align: center;
    padding: 35px 0px;
    margin: 0px 20px;
}
nav .active{
    border-bottom: solid blue 6px;
}
nav div a{
    text-decoration: none;
    color: inherit;
}
nav .dropdown{
    margin-left: auto;
}
nav .dropdown .content{
    padding-top: 41px;
    position: absolute;
    display: none;
}
nav .dropdown .content > div{
    padding: 10px 24px;
}
nav .dropdown .content div a{
    font-size: 29px;
}
nav .dropdown #contact:hover + .content{
    display: block;
}
nav .dropdown .content:hover{
    display: block;
}

  
/*section*/
section{
    height: 87.2vh;
    padding: 0px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section .name-title div > h3, h1{
    font-size: 3.1vw;
}
section .name-title span{
    font-size: 1.3vw;
    color: #23c2d5;
}
section img{
    width: 65vh;
}



/*media queries*/
@media(max-width:736px){
    
    
    
    
    
    
    
    
    section > img{
        display: none;
    }
}








